.calendar {
  font-family: 'Noto Sans JP', sans-serif;
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: 1.3rem;
  background: rgba(34, 34, 34, 0.1);
  transition: background .5s ease-in-out;
  position: relative;
  z-index: 10;
}

.calendar:hover {
  background: rgba(34, 34, 34, 0.5);
}

.calendar-day-names {
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  background: rgba(212, 212, 216, 0.3);
}

.calendar-row {
  width: 100%;
  display: flex;
}

.calendar-entry, .calendar-day-name {
  flex: 1 1 14%;
  text-align: center;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.1s ease-out;
  color: white;
}

.calendar-entry:hover {
  background: rgba(255, 255, 255, 0.267);
  cursor: pointer;
}

.inactive {
  color: rgba(255, 255, 255, 0.363);
}